* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  margin-left: 220px;
  margin-top: 70px;
  flex-grow: 1;
  padding: 20px;
}
  
button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
